<h2>Update Player</h2>

<form #loginForm = "ngForm" class="form-inline mt-2 mt-md-0"
(ngSubmit) = "updateTeam()">

  <div class="row col-md-12">

    <div class="col-md-3">
      <label>Player Name</label>
      <input
      name="name"
      [(ngModel)]="player.name"
      class="form-control col-md-3"
      type="text"
      placeholder="Player Name">
    </div>


    <div class="col-md-3">
      <label>Nationality</label>
      <input
      name="nationality"
      [(ngModel)]="player.nationality"
      class="form-control mr-sm-2 pad"
      type="text"
      placeholder="Nationality">
    </div>

  <div class="col-md-3">
    <label>Date Of Birth</label>

      <input
      name="dateOfBirth"
      [(ngModel)]="player.dateOfBirth"
      class="form-control mr-sm-2 pad"
      type="date"
      placeholder="Date Of Birth">
  </div>

  <div class="col-md-3">
    <label>Image</label>

    <input
  name="imageUrl"
  [(ngModel)]="player.imageUrl"
  class="form-control mr-sm-2 pad"
  type="text"
  placeholder="Image">
  </div>

  <label>Team</label>

  <div class="col-md-3" style="margin-top: 10px;margin-bottom: 10px;">
  <select name="teamId" [(ngModel)]="player.teamId" class="col-md-12 form-control">
    <option  *ngFor="let item of teams" value="{{item.id}}">{{item.name}}</option>
  </select>
</div>

</div>


  <button class="btn btn-success my-2 my-sm-0 pad" type="submit">Create</button>
  <a (click)="Back()" class="btn btn-info" style="margin-left: 5px;">Back</a>
</form>
